body{
	font-family: arial,sans-serif;
	background-color: yellow;

}

header{
	width: 80%;
	background-color: #094462;
	color: white;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding:10px;
	overflow: hidden;
}
	header img {
	float: left;
	width: 100px;
	height: 100px;
	}
h1 {
	line-height: 5px;
	<img src="img_girl.jpg" alt="Girl in a jacket">
}
.nav ul {
	list-style-type: none;
	background-color: #EBEBEB;
	margin: 0;
	overflow: hidden;
	padding: 5px;
}
.nav li {
	float: left;
}
.nav li a {
	text-decoration: none;
	padding: 5px 80px;
	display: block;
	color: black;
}
.nav li a:hover {
	background-color:#004EFF;
	color: white;
}

.content {
	padding: 0 10px;
	border: 2px yellow;
}

section{
	width: 80%;
	background-color: black;
	color: white;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 10px;
}
footer{
	width: 80%;
	background-color: green;
	color: white;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 10px;
}
